*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
    background:linear-gradient(rgba(41, 168, 235, 0.63), rgba(90, 248, 111, 0.562)) ;

}
h1{
    font-size: 40px;
    font-weight: 600;
    font-style: italic;
    color: rgb(23, 23, 141);
    text-decoration: underline;
}
form{
    border: 2px solid black;
    width: 50%;
    padding: 2%;
    border-radius: 20px;
    background-color: whitesmoke;
}
#formgroup{
    display: flex;
    flex-direction: column;
    
    
}
.lable{
    font-size: 16px;
    margin-bottom: 8px;
    font-weight: 600;
}
.input{
    font-size: 16px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid gray;
    outline: none;

    &:focus{
        border: 1px solid blue;
    }
}
.submit{
    font-size: 20px;
    padding: 12px;
    border-radius: 6px;
    width: 100%;
    background-color:rgb(130, 130, 226); 
    font-weight: 600;
    

    &:hover{
        background-color: rgb(87, 87, 221);
 }
    &:active{
        transform: scale(0.995);
    }

}